/* Card.css */

.card {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: transform  0.3s ease, opacity 0.3s ease-in-out;
  min-width: fit-content;
  opacity: 1;
}

@media (max-width: 1200px) {
  .route{
    margin-left: 0px !important;
  }
  .card {
    grid-area: unset !important;
  }
}

@media (max-width: 767px) {
  .card {
    grid-area: unset !important;
    min-width: 90% !important;
    margin-left: 0px !important;
  }
}

.card.dark-mode {
  background-color: var(--card-bg-color-dark);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.card-title.dark-mode {
  color: var(--light-color)
}

.card-content {
  font-size: 1rem;
  color: var(--secondary-color);
  white-space: nowrap;
}

.route {
  margin-left: 3.5rem;
  grid-column: span 2;
}
  